<h1><%= @user.email %>'s Galleries</h1>

<div>
  <%= link_to "View All Galleries", galleries_path %>
  <%= link_to "New Gallery", "/galleries/new" %>
</div>

<ul>
  <%= render @user.galleries %>
</ul>
