<h1>Galleries</h1>

<div>
  <%= link_to "New Gallery", "/galleries/new" %>
</div>

<div>
  <% @galleries.each do |gallery| %>
    <%= link_to gallery.name, "galleries/#{gallery.id}" %>
  <% end %>
</div>

